* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    overflow: hidden;
    height: 110vh;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: rgb(55, 55, 55);
    z-index: 10;
}

.btns button {
    padding: 7px 15px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
}

.heartDiv,
.rainDiv,
.snowDiv {
    position: absolute;
    animation: fall 2.5s forwards;
    font-size: 10px;
}

.snowDiv{
    color: white;
}

.heartDiv{
    font-size: 25px;
}


.ballonDiv {
    position: absolute;
    animation: flight 4s forwards;
    font-size: 40px;
    z-index: 1;
}

.flat{
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    position: absolute;
    bottom: 10px;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}

@keyframes flight {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(-200px);
    }
}
